.panelComponent {
    display: flex;
    flex-direction: column;
    flex: 0.30;
    margin-top: 35px;
}

.mainPanelContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.mainPanelLimitOptions {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 85%;
    margin-top: 20px;
}

.buttonAddNews {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 55%;
    margin-top: 20px;
}

.deleteContainer {
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 85%;
    margin-top: 20px;
}