.mainComponent {
    position: fixed;
    z-index: 100;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /* display: none; */
    background: rgba(240, 240, 240, 0.85);
}

.contentContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    padding: 25px;
    background: white;
    border-radius: 16px;
    box-shadow: 0px 0px 10px rgb(155, 155, 155);
    width: 700px;
}

.nameNews {
    display: flex;
    flex-direction: column;
    height: 85px;
    margin-top: 15px;
}

.contentNews {
    display: flex;
    flex-direction: column;
    min-height: 200px;
    margin-top: 15px;
}

#p {
    margin: 0px;
}

.inputName {
    resize: none;
    border-radius: 10;
    width: 100%;
    flex: 1;
    font-size: 22px;
}

.inputContent {
    resize: none;
    border-radius: 10;
    font-size: 18;
    width: 100%;
    flex: 1;
    font-size: 18px;
    align-content: flex-start;
}

.buttonsContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

#button:nth-child(n) {
    margin-right: 20px;
}
