.loginDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    height: 100vh;
}


.login-label {
    text-align: center;
}

.main-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5)
}

.formDiv {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    padding: 25px;
    background: white;
    border-radius: 16px;
    box-shadow: 0px 0px 10px rgb(155 155 155);
    
    width: 85%;
    max-width: 600px;
    min-width: 220px;
}


.photos {
    display: flex;
    max-width: 1350px;
    justify-content: space-evenly;
    margin: 15px;
}

.photos_column {

    flex: 0.3;
}

.column-image {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

img {
    max-width: 100%;
}

@media screen and (max-width: 1350px) {
    .photos {
        justify-content: center;
    }

    .photos_column {
        flex: 0.45;
    }

    .column_1 {
        display: none;
    }
    
    .column_2 {
        margin-right: 15px;
    }

    .column_3 {
        margin-left: 15px;
    }
}

@media screen and (max-width: 500px) {
    .photos {
        justify-content: center;
    }

    .photos_column {
        flex: 0.9;
    }

    .column_1 {
        display: none;
    }
    
    .column_2 {
        display: none;
    }

    .column_3 {
        margin-left: 0px;
    }
}