.mainBoard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 15px 15px 15px;
}

.info {
    display: flex;
    align-items: center;
}

.myData {
    display: block;
    margin-left: 30px;
    font-size: 18px;
}

.settingsContainer {
    align-self: end;
}


.loadingProfile {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.oneProperty {
    margin-bottom: 10px;
    font-size: 20px;
}

.propertyName {
    margin: 0;
    font-size: 20;
}

#options-Button {
    align-self: flex-end;
}