.mainOneNewsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}

.headOneNewsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.contentOneNewsContainer {
    padding: 10px;
    font-size: 18px;
}

.nameText {
    font-weight: 700;
    font-size: 20px;
}

.checkboxContainer {
    align-self: flex-end;
}